#piece{
    position: relative;
    visibility: hidden;
    z-index: 10;
}
#compteur{
    height: 3em;
    width: auto;
}
#sac{
    visibility: hidden;
    position: fixed;

}
.compteur{
    margin: 2rem 2rem;
}
#compteurChiffre{
    font-size: 1.7rem;
}
.bonus{
    float: right;
}
.ContainerPetit{
    position: fixed;
    
    width: 20%;
    background-color: brown;
}*
.droite{
    float: right;
    right: 0%;
}
.ContainerMoyen{
    height: 100%;
    width: 20%;
    background-color: brown;
}
.Container{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: green;
}
#contientMarioEtPiece{
    display: block;
}
.gauche{
    float:left;
}
.clear{
    clear:both;
}
.titre{
    text-align: center;
    font-size: 2rem;
}

#inventaireBoutton{
    margin-top: 28rem;
}
#icon{
    margin-left: 2rem;
}
#inventaireNombreChampignon{
    font-size: 1.5rem;
    margin-left: 2rem;
}
#pieceDessous{
    position: absolute;
    visibility:hidden;
}
#MarioPoids{
    position: absolute;
    visibility:hidden;
    z-index: 0;
    margin-top: -10%;
}
#combatBouton{

    margin-top: 25rem;
}
#ContientCombat{
    display: none;
}
#marioCombat{
    margin-top:20% ;
}
#bowserCombat{
    margin-top:15% ;
    margin-right: 20%;
}
#bowserVieIndicateur{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.7rem;
}
#bonusCombat{
    display: none;
    margin-top: 10%;
}